@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Cuisine

<h1>Add a new cuisine</h1>
<div class="content">
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)
    <input type="submit" value="Add new cuisine" class="btn btn-default"/>
}
</div>

<div class="links">
  <p>@Html.ActionLink("Show all cuisines", "Index")</p>
</div>
