@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Cuisine

<h4>Add a new cuisine</h4>
@using (Html.BeginForm("Create", "Cuisines"))
{
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)
    <input type="submit" value="Add new cuisine" />
}
<p>@Html.ActionLink("Show all cuisines", "Index")</p>