@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h1>Authentication with Identity</h1>
<hr />

<div class="content">
  @if (User.Identity.IsAuthenticated)
  {
      <p>Hello @User.Identity.Name!</p>
      @using (Html.BeginForm("LogOff", "Account"))
      {
          <input type="submit" class="btn btn-default" value="Log out" />
      }
  }
</div>

<div class="links">
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
